<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="purdue.bowlingapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginMessageActivity" />
        <activity android:name=".LoginFailureActivity" />
        <activity android:name=".StatisticsActivity" />
        <activity android:name=".CompareStatisticsLookupActivity" />
        <activity android:name=".CompareStatisticsActivity" />
        <activity android:name=".CoachChangeStatsLookupActivity" />
        <activity android:name=".CoachChangeStatsActivity" />
        <activity
            android:name=".createAccountSuccess"
            android:label="@string/title_activity_create_account"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ScoreKeeping" />
        <activity android:name=".RankedList" />
        <activity android:name=".RankingSelectionActivity" />
        <activity android:name=".createGroupActivity" />
        <activity android:name=".createGroupSuccess" />
        <activity android:name=".editGroupsActivity" />
        <activity android:name=".mergeGroupActivity" />
        <activity android:name=".NotCoachFailureActivity" />
        <activity android:name=".LiveTournamentActivity" />
        <activity android:name=".groupStatisticsActivity" />
        <activity
            android:name=".groupRankActivity"
            android:label="@string/title_activity_group_rank"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".groupRankedList"
            android:label="@string/title_activity_group_ranked_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".requestActivity" />
        <activity android:name=".groupHubActivity" />
        <activity android:name=".requestResponseActivity" />
        <activity android:name=".eventCreateActivity" />
        <activity android:name=".EventHubActivity" />
        <activity android:name=".editEventsActivity" />
        <activity android:name=".requestsEventsActivity" />
        <activity android:name=".requestEventResponseActivity"></activity>
    </application>

</manifest>